.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 20px;
  padding: 20px;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr;
  }
}
